<header class="px-3">
  <nav class="container max-w-6xl text-gray py-4">
    <div class="text-2xl text-gray-500 font-normal">
      Emilien <strong class="text-black font-exrtabold">BILLARD</strong>
    </div>
  </nav>
</header>
